services:
    jekyll:
        image: vinayak1998th/resume-container
        container_name: resume-run
        command: bundle exec jekyll serve --watch --force_polling --verbose --host 0.0.0.0 --port 4001
        ports:
            - 4001:4001
            # - 35729:35729
        volumes:
            - ./:/site
            - gem_cache:/usr/local/bundle

volumes:
  gem_cache: