version: '3'

services:
  jekyll:
    image: vinayak1998th/resume-container
    container_name: resume-run
    command: jekyll serve --watch --force_polling --verbose
    ports:
      - 4000:4000
      - 35729:35729
    volumes:
      - ./:/srv/jekyll