<div class="container intro-container" id="about">
  <h3>{{ site.about_title | default: "About Me" }}</h3>
  <div class="row clearfix" style="margin-top: 3rem">
    {%- if site.about_profile_image -%}
    <div class="col-xs-12 col-sm-4 col-md-3 no-print">
      <span
        class="profile-img"
        style="background-image: url({{site.about_profile_image | relative_url }})"
      ></span>
    </div>
    {%- endif -%}
    <div
      class="{{ 'col-xs-12 ' }}{%- if site.about_profile_image -%}col-sm-8 col-md-9 col-print-12{%- endif -%}"
    >
      {{ site.data.about.content | strip | markdownify }}
      {{ site.data.about.addons | strip | markdownify }}
      <!--sd-->
      <ul style="font-size: 1.7rem">
        {% for cat in site.data.about.stack %}
        <!--For-->
        {% for key in cat %}
        <!--For-->
        <li style="margin-bottom: 1rem">
          <mark>{{key[0]}}</mark> -> {% for item in key[1] %} {{ item }} | {%
          endfor %}
        </li>
        {% endfor %}
        <!--For-->
        {% endfor %}
      </ul>
      <!--sd--><br />
      {{ site.data.about.footer | strip | markdownify }}
      <br />
    </div>
  </div>
</div>