<div class="contact-info-container">
<div class="card profile-card-rectangular">
    <div class="row">
        <!-- Image Column -->
        <div class="col-md-4 profile-img-container">
            <!-- Circular Profile Picture -->
            <img src="{{site.about_profile_image}}" class="profile-img-circle" alt="Profile Picture">
        </div>
        <!-- Details Column -->
        <div class="col-md-8">
            <div class="card-body d-flex flex-column h-100 p-4">
                <div class="card-header">
                    <h2 class="card-title mb-0" style="font-weight: 500;">{{site.name}}</h2>
                    <p class="card-text" style="font-size:1.5rem"><em>{{site.title}}</em></p>
                </div>
                <hr>
                <div class="card-text mt-3">
                    <p class="mb-1">Find me on: </p>    
                </div>
                <div class="mt-auto pt-3">
                    <div class="social-icons d-flex gap-3">
                        <a href="mailto:example@email.com" title="Email"><i class="fas fa-envelope"></i></a>
                        <a href="https://wa.me/1234567890" target="_blank" title="WhatsApp"><i class="bi bi-whatsapp"></i></a>
                        <a href="https://linkedin.com/in/" target="_blank" title="LinkedIn"><i class="bi bi-linkedin"></i></a>
                        <a href="https://github.com/" target="_blank" title="GitHub"><i class="bi bi-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div></div>