<div class="container experience-container" >
  <h3 id="experience">{{ site.experience_title | default: "Experience" }}</h3>
  <h2 style="text-align:center;margin-top:2rem;font-size:3rem"><mark style="padding-left:2rem; padding-right:2rem;"> Professional </mark></h2> <center><hr width="70%"></center>
  {% for experience in site.data.experience %}
    {% include {{ experience.layout | default: 'left' | append: ".html" }} item=experience %}
      {% unless forloop.last %}<center><hr width="70%"></center>{% endunless %}
  {% endfor %}
</div>
<div class="container experience-container" >
<h3 style="margin-bottom:3rem"></h3>
  <h2 style="text-align:center;margin-top:2rem;font-size:3rem"><mark style="padding-left:2rem; padding-right:2rem;"> College </mark></h2> <center><hr width="70%"></center>
  {% for experience in site.data.experience_edu %}
    {% include {{ experience.layout | default: 'left' | append: ".html" }} item=experience %}
      {% unless forloop.last %}<center><hr width="70%"></center>{% endunless %}
  {% endfor %}
</div>

