<div class="container intro-container" id="about" style="margin-top:10rem;">
    <div class="row clearfix" style="margin-bottom:1rem; text-align:center;">
        <h1>HELLO WORLD!</h1><br>
        <h2>Welcome to my profile page</h2>
    </div>
    <div class="row clearfix">
        <div id="termynal" data-termynal>
            <span data-ty="input">~/profile.sh init</span>
            <span data-ty>Loading Assets...</span>
            <span data-ty="progress"></span>
            <span data-ty="input" data-ty-prompt="Profile>">bio --show</span>
            <span data-ty="input" data-ty-prompt="&emsp; Name :" data-ty-typeDelay="3">{{site.name | escape }}</span>
            <span data-ty="input" data-ty-prompt="&emsp; Currently :" data-ty-typeDelay="3">{{ site.title | escape }}</span>
            <span data-ty="input" data-ty-prompt="&emsp; Specialization :" data-ty-typeDelay="3">{{ site.specialization | escape }}</span>
            <span data-ty="input" data-ty-prompt="Profile>" data-ty-typeDelay="10">sudo build profile --file-type html </span>
            <span data-ty="input" data-ty-prompt="" data-ty-typeDelay="5">[sudo] password for $USER: </span>
            <span data-ty="input" data-ty-prompt="" data-ty-startDelay="900" data-ty-typeDelay="5">building..</span> {%for page in site.data.pages%}
            <span data-ty data-ty-delay="20 ">{{page.name}}>><u><a href="/{{page.name}}/">{{page.name}}.html</a></u></span> {%endfor%}
        </div>
    </div>
    <div class="row" style="margin-top:3rem;">
        <h3 class="intro"> Here are some useful links</h3>
        {% include intro.html %}
    </div>
    <script src="assets/js/termynal.js" data-termynal-container="#termynal"></script>
</div>