
<div class="container header-container landing-div" id="term">
    <div class="row">
        {%- if site.about_profile_image -%}
            <div class="col-xs-12 col-sm-7 col-md-6 no-print">
                <span
                    class="landing"
                    style="background-image: url({{site.about_profile_image | relative_url }})"
                ></span>
            </div>
            {%- endif -%}
        <div class="{{ 'col-xs-12 ' }}{%- if site.about_profile_image -%}col-sm-5 col-md-6 col-print-12{%- endif -%}">
            <h1 class="display-2 landing"> Hey There.</h1>
            <h2>I'm Vinayak Sharma</h2>
            {{ site.data.about.content | strip | markdownify }}
        </div>
    </div>
    <div class="icons-pad">
        <p>Connect with me</p>
        {% include icons.html %}
    </div>
</div>

