<div class="row clearfix layout layout-left">
  <div class="col-xs-12 col-sm-4 col-md-3 col-print-12 details">
    {%- if include.item.name -%}<h4>{{ include.item.name }}</h4>{%- endif -%}
    {%- if include.item.company -%}<h4>{{ include.item.company }}</h4>{%- endif -%}
    
    {%- if include.item.job_title -%}<p><b>{{ include.item.job_title }}</b></p>{%- endif -%}
    {%- if include.item.qualification -%}<p><b>{{ include.item.qualification }}</b></p>{%- endif -%}
    {%- if include.item.dates -%}<p>{{ include.item.dates }}</p>{%- endif -%}
  </div>
</div>
