<nav class="navbar navbar-default navbar-expand-lg navbar-fixed-top" role="navigation">
    <div class="container navig-container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button id="navbarcollapse" type="button" class="collapse-button navbar-toggle" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa-solid fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/">$ ~/{{site.name | replace_first: " ",""}} <div class="blinking"></div></a>
            <!-- <button class="dark-mode" id="theme-toggle" onclick="modeSwitcher()"><i class="fa-solid fa-moon"></i>
            </button> -->
                <button
                    type="button"   
                    class="btn toggle-btn"
                    aria-label="Switch Mode"
                    id="mode-toggle"
                    onClick="modeSwitcher()"
                    data-bs-toggle="button"
                    >
                    <div class="toggle-circle" id="circle-toggle"><i class="bi bi-brightness-high-fill mode-logo"></i></div>
                </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {%for page in site.data.pages%}
                <li class="page-scroll">
                    <a href=" /{{page.permalink}}/">{{page.name}}</a>
                </li>
                {%endfor%}
                <li>
                    <hr class="navbar-divider">
                    <hr class="dropdown-divider">
                </li>
                <li class="ContactButton">
                    <!-- Modal in footer.html -->
                    <a class="fa-nopad" data-toggle="modal" data-target="#ContactModal"><p id="contact">Contact Me </p><i
                            class="bi bi-chat-fill"></i></a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>


<!-- Modal -->
<div class="modal fade" id="ContactModal" tabindex="-1" role="dialog" aria-labelledby="ContactModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content modalBox">
            <div class="modal-body">
                {% include contact_card.html %}
            </div>
        </div>
    </div>
</div>
