<nav class="navbar navbar-default navbar-fixed-top " role="navigation"> 
    <div class="container navig-container text-center">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header navbar-center ">
            <a class="navbar-brand" href="/">$> ~/vinayak_sharma</a><h2 class="navbar-brand"> | </h2>
            <button type="btn-outline-success" id="theme-toggle" onclick="modeSwitcher()" style = "margin-top:1.3rem;margin-left:.5rem">Dark Mode</button>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>