<!-- <div class="container projects-container" id="projects">
  <h3>{{ site.projects_title | default: "Projects" }}</h3>
  <div class="row">
    {% for project in site.data.projects %}
      <div class="col-xs-12 col-sm-6 col-md-4">
        {% include {{ project.layout | default: 'left' | append: ".html" }} item=project %}
      </div>
    {% endfor %}
  </div>
</div> -->



<div class="container projects-container" id="projects">s   
  <h3>{{ site.projects_title | default: "Projects" }}</h3>
    <!-- Filter Controls -->

    <div id="Projectfilters" class="filters">
      <div class="filter-group">
        <label for="project-area-filter"> Area: </label>
        <select id="project-area-filter" class="filter-select" data-filter-group="project-area">
          <option value="all">All</option>
          </select>
      </div>
      <div class="filter-group">
        <label for="paper-tag-filter">tag: </label>
        <select id="paper-tag-filter" class="filter-select" data-filter-group="project-area">
          <option value="all">All</option>
          <option value="Quantum Machine Learning">Quantum Machine Learning</option>
          <option value="Machine Learning">Machine Learning</option>
          </select>
      </div>
    </div>
    <hr>
</div>

