{% comment %}
<div class="container projects-container" id="projects">
	<h3>{{ site.projects_title | default: "Projects" }}</h3>
	<div class="row">
		{% for project in site.data.projects %}
		<div class="col-xs-12 col-sm-6 col-md-4">
			{% include {{ project.layout | default: 'left' | append: ".html" }}
			item=project %}
		</div>
		{% endfor %}
	</div>
</div>
{% endcomment %}

<div class="container projects-container" id="projects">
	<h3>{{ site.projects_title | default: "Projects" }}</h3>
	<!-- Filter Controls -->

	<div id="Projectfilters" class="filters d-flex justify-content-center align-items-center flex-wrap gap-3">
		<div class="filter-group">
			<label for="project-area-filter"> Area: </label>
			<select
				id="project-area-filter"
				class="filter-select project-filter-select"
				data-filter-group="project-area"
			>
				<option value="all">All</option>
				<option value="Quantum Machine Learning">
					Quantum Machine Learning
				</option>
				<option value="Machine Learning">Machine Learning</option>
				<option value="Web Development">Web Development</option>
			</select>
		</div>

        <!-- Stack Filter -->
        {% assign all_stack = "" | split: "" %}
        {% for project in site.data.projects %}
            {% if project.stack %}
                {% for tech in project.stack %}
                    {% assign all_stack = all_stack | push: tech %}
                {% endfor %}
            {% endif %}
        {% endfor %}
        {% assign unique_stack = all_stack | uniq | sort %}
		<div class="vr"></div>

        <div class="filter-group">
            <label for="project-stack-filter"> Tech Stack: </label>
            <select
                id="project-stack-filter"
                class="filter-select project-filter-select"
                data-filter-group="project-stack"
            >
                <option value="all">All</option>
                {% for tech in unique_stack %}
                    <option value="{{ tech }}">{{ tech }}</option>
                {% endfor %}
            </select>
        </div>
	</div>
	<hr>
	<!-- Masonry grid container -->
	<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
		{% for project in site.data.projects %} 
      {% include layout/project-card.html item=project %} 
    {% endfor %}
	</div>
	<hr>
</div>

