@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,500,500italic,400italic,300italic,100italic,700italic);
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
// @import url(https://use.fontawesome.com/releases/v5.11.2/css/all.css);
// @import url(https://use.fontawesome.com/releases/v5.11.2/css/v4-shims.css);
@import url(https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css);

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    appearance: none;
    background-color: #1a4d94;
    border: 0;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
    line-height: 1;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    transition: background-color 150ms ease;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    outline: none;
}

button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
    background-color: #3964a2;
    color: #fff;
}

button:disabled,
input[type="button"]:disabled,
input[type="reset"]:disabled,
input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

button:disabled:hover,
input[type="button"]:disabled:hover,
input[type="reset"]:disabled:hover,
input[type="submit"]:disabled:hover {
    background-color: #477dca;
}

fieldset {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    margin: 0 0 0.75rem;
    padding: 1.5rem;
}

input,
label,
select {
    display: block;
    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 1rem;
}

label {
    font-weight: 600;
    margin-bottom: 0.375rem;
}

label.required::after {
    content: "*";
}

label abbr {
    display: none;
}

select {
    margin-bottom: 1.5rem;
    max-width: 100%;
    width: auto;
}

dl {
    margin-bottom: 0.75rem;
}

dl dt {
    font-weight: bold;
    margin-top: 0.75rem;
}

dl dd {
    margin: 0;
}

table {
    border-collapse: collapse;
    font-feature-settings: "kern", "liga", "tnum";
    margin: 0.75rem 0;
    table-layout: auto;
    width: 100%;
}

th {
    border-bottom: 1px solid #a6a6a6;
    font-weight: 600;
    text-align: left;
}

td {
    border-bottom: 1px solid #ddd;
    padding: 0.75rem 0;
}

tr,
td,
th {
    vertical-align: middle;
}

hr {
    border-bottom: 1px solid #ddd;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin: 1.5rem 0;
}

img,
picture {
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}

html {
    box-sizing: border-box;
    height: 100%
}

::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-button {
    display: none;
}

body {
    -ms-overflow-style: none;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

.btn {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 18px 60px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 0;
    background: #DEDEDE;
    color: #4C4C4C;
}

.btn:focus {
    background: #DEDEDE;
    color: #4C4C4C;
}

.btn:hover {
    background: #CCCCCC;
    color: #4C4C4C;
}

.btn:active {
    top: 2px;
}

.btn.disabled {
    background: #EAEAEA;
    color: #9E9E9E;
    cursor: default;
    top: 0px;
}

body {
    background: #ffffff;
    font-family: Roboto, sans-serif;
}

.center-text {
    text-align: center;
}

.container {
    margin-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    border-radius: 2rem;
    background: #f5f5f5;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.068);

    @media print {
        margin-top: 20px;
    }
}

.ref-button {
    background-color: #003064;
    border-radius: 1rem;
    font-size: 1.5rem;

    a {
        color: inherit;
    }
}

.resume-button {
    background-color: #333333;
    border-radius: 1rem;

    a {
        color: inherit;
    }
}


.header-container {
    margin-top: 7rem;
    border-radius: 3rem;
    box-shadow: 0px 0px 0px #110f0f;
    background: none;
}

.navig-container {
    margin-top: 4px;
    padding-bottom: 0rem;
    box-shadow: 0px 0px 0px rgb(17, 15, 15);
    background: none;
}

.header-right {
    text-align: right;
}

.header-left {
    margin-top: 30px;

    @media print {
        margin-top: 0px;
    }
}

.header-right p {
    font-size: 1.6rem;
    text-align: right;
}

.badge-danger {
    background-color: #B31B1B;
    margin-bottom: 0.4rem;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    border-radius: 10px;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media print {
    a[href]:after {
        content: none !important;
    }

    img[src]:after {
        content: none !important;
    }

    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12 {
        float: left;
    }

    .col-sm-12 {
        width: 100%;
    }

    .col-sm-11 {
        width: 91.66666667%;
    }

    .col-sm-10 {
        width: 83.33333333%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-8 {
        width: 66.66666667%;
    }

    .col-sm-7 {
        width: 58.33333333%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-5 {
        width: 41.66666667%;
    }

    .col-sm-4 {
        width: 33.33333333%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-2 {
        width: 16.66666667%;
    }

    .col-sm-1 {
        width: 8.33333333%;
    }

    .col-print-12 {
        width: 100%;
    }

    .no-print,
    .no-print * {
        display: none !important;
    }
}

@media only screen and (max-width: 500px) {
    .pt {
        margin-top: 3rem;
    }
}

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
    color: #fff;
    font-family: monospace;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation:
        typing 3.5s steps(30, end),
        blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange
    }
}