.dark {
    //background: #0D1B2A;
    background: linear-gradient(90deg, hsla(211, 53%, 11%, 1) 0%, hsla(220, 37%, 22%, 1) 100%);
    color: #E0E1DD;
    .container {
        background: #ffffff13;
        border-radius: 2rem;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.205);
    }
    .header-container,
    .navig-container {
        box-shadow: 0px 0px 0px rgb(17, 15, 15);
        background: #00000000;
    }
}

.dark {
    mark {
        color: #3f4658;
        background-color: #e6e6e6;
    }
    a {
        color: #883dff;
    }
    .navbar {
        background: #0D1B2A;
    }
    .navbar .navbar-nav li a {
        color: #E0E1DD;
    }
    .navbar-fixed-top .navbar-brand {
        color: #E0E1DD;
    }
    .dark-mode {
        background-color: #E0E1DD;
        color: #373F51;
        a {
            color: inherit;
        }
    }
    .button:focus {
        background-color: #ececec !important;
    }
    button:hover {
        background-color: #2ead69!important;
    }
    .top {
        background-color: #000a20;
        background-image: url("images/fab.png");
        color: #ececec;
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0);
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0);
    }
    .jumbotron {
        background-color: rgba(13, 28, 43, 0.767);
        color: #ececec;
    }
}