.dark {
    // background: #181825;
    background: linear-gradient(-45deg, #272731,#181825,#12121d,#1e1e29, #272735 ,#272731);
    background-size: 400% 400%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation: gradient 10s ease-in-out infinite;
    height: 100vh;

    @keyframes gradient {
        0% {
        background-position: 0% 50%;
        }
        50% {
        background-position: 100% 50%;
        }
        100% {
        background-position: 0% 50%;
        }
    }

    color: #a6adc8;
    $badge-background: #a6adc8;
    $badge-color: #2E3440;

    hr {
        border-color: #a6adc8;
    }

    .container {
        background: rgba(24, 24, 37, 0.6);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 1px solid #9ba2bb;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
    }

    .header-container {
        box-shadow: 0px 0px 0px rgb(17, 15, 15);
        background: none;
        border-width: 0.0rem;
    }

    .navig-container {
        // background: #00000000;
        background: var(--topbar-bg);
        border-radius: 5rem;
        border: 2px solid var(--topbar-border-color);
       
    }

    .footer-container {
        box-shadow: none;
        background: none;
    }

    .footer-box {
        background-color: #181825;
    }

    mark {
        color: #3f4658;
        background-color: #e6e6e6;
    }

    .workspan{
        color: #3f4658;
        background-color: #e6e6e6;
    }
    a {
        color: #9baeff;
    }


    .navbar .navbar-nav li a {
        color: #ffffff;
    }

    .navbar-fixed-top .navbar-brand {
        color: #ffffff;
    }

    .button:focus {
        background-color: #ececec !important;
    }

    button:hover {
        background-color: #2ead69 !important;
        color: black;
    }

    .top {
        background-color: #000a20;
        background-image: url("images/fab.png");
        color: #ececec;
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0);
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0);
    }

    .jumbotron {
        background-color:#1e1e2e;
        color: #a6adc8;
    }


    span.landing {
        border: 0.4rem solid #ececec;
    }

    span.profile-img {
        border: 0.2rem solid #ececec;
    }

    .badge-danger {
        background-color: #770707;
    }

    .badge-date {
        color: $badge-color;
        background-color: $badge-background;
    }

    .badge-certificate {
        color: $badge-color;
        background-color: $badge-background;
    }

    .badge-message {
        color: $badge-color;
        background-color: $badge-background;
    }

    .certification {
        color: $badge-color;
        background-color: $badge-background;
    }

    .badge-degree {
        color: $badge-color;
        background-color: $badge-background;
    }

    .badge-header {
        color: $badge-color;
        background-color: $badge-background;
    }
    .filter-select  {
        background-color: #3b3b46;
        color: #e2e7fa;
    }
    
    .toggle-btn.active .toggle-circle {
        background: #e2e7fa;
    }

    .card-header {
        color: #e2e7fa;
        border-color: #e2e7fa;
    }

    .card-footer {
        color: #e2e7fa;
        border-color: #e2e7fa;
    }

    .card {
        color: #e2e7fa;
    }

    .text-muted {
        color: #a6adc8 !important;
    }
}