.pagecontent {
    margin-bottom: 2rem;
}

.footer-box {
    margin-top: auto;
    padding: 0px;
    font-size: 1.5rem;
    background-color: rgba(245, 245, 245, 0.8);
    bottom: 0;
    position: static;
}

.button-footer {
    @extend .button;
    min-width: 0px;
    height: 2px;
    margin-top: 0px;
    padding-top: 0px;
}

.footer-right {
    text-align: right;
    margin-bottom: 1rem;
    margin-top: 0px;
    padding: 0px;
    padding-right: 2rem;
}

.footer-left {
    margin-top: 10px;

    @media print {
        margin-top: 0px;
    }
}