ul.icons a:hover {
    background: rgba(255, 255, 255, 0.712);
}

.icons a:hover i {
    color: #000000;
}

ul.icons li {
    display: inline-block;
    padding-left: 0.75rem;
}

ul.icons a {
    display: inline-block;
    width: 2.75rem;
    height: 2.75rem;
    line-height: 2.8rem;
    text-align: center;
    border-radius: 100%;
    background: #333333;
}

.icons i {
    font-size: 30px;
    line-height: 60px;
}

.icons {
    padding: 0;
    font-size: 1rem;
    margin-bottom: 20px;
    text-align: right;
}

.icon-text {
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
    margin-left: -0.5rem;
    margin-top: 1rem;

}

@media screen and (max-width: 768px) {
    .icons {
        text-align: center;
    }
}

.dark {
    .icons i {
        color: #ccd0da;
    }

    ul.icons a {
        background: #cdd6f4;
    }

    .icons a:hover i {
        color: #11111b;
    }

    .button--sacnite::before {
        box-shadow: inset 0 0 0 100px #12121b;
    }

    .devicon {
        color: #ccd0da;
    }

    .filter-svg {
        filter: brightness(80%) contrast(129%) invert(100%);
    }
}

.devicon {
    font-size: 3.5rem;
    display: inline-block;
    vertical-align: middle;
    color: #1f2a41;

    &.wordmark {
        font-size: 6rem;
    }
}

.filter-svg {
    filter: brightness(0%) contrast(129%) saturate(100%) invert(29%) sepia(95%) saturate(1358%) hue-rotate(198deg) brightness(30%) contrast(101%);
}