/* Basic CSS for the filters and list */
.filters {
    margin-bottom: 0px;
    margin-top: 20px;
    display: flex;
    gap: 15px; /* Adds space between dropdowns */
    font-size: 2rem;
    flex-wrap: wrap; /* allow wrapping on smaller desktop screens */
    align-items: center; /* vertical alignment */

    @media screen and (max-width: 768px) {
          justify-content: center;
          flex-direction: column;
          gap: 5px;
    }
}

.vr {
    display: block;
    width: 2px;
    background-color: #555;
    height: 3rem; /* Adjust height as needed */
    margin: 0 5px;

    @media screen and (max-width: 768px) {
        display: none; /* Hide on mobile */
    }
}

.filter-group {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 5px; /* Space between label and select */

    label {
        margin-right: 5px; /* Space between label and select */
        margin-bottom: 0;
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 1; /* reset line height for better centering */
    }

    select {
      padding: 5px;
      margin: 0; /* Remove all margins to rely on flex gap */
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 1.3rem;

      @media screen and (max-width: 768px) {
        align-items: center !important;
      }
    }
}

.filters.dark{
  background-color: #3b3b46;
}


.biblography-container li {
  display: contents;
}

.biblography-container .bibtitle::before {
  content: "[" counters(item, ".") "]. ";
  counter-increment: item;
}

.biblography-container {
  counter-reset: item;
}

h2.bibliography{
    margin-top: 1.5rem;
    margin-bottom: -2rem;
    font-size: 2.2rem;
    font-weight: 500;
    text-decoration: underline;
}

.bibtitle::before{
    display: none;
    margin-left: -1em;  
}

.hidden-item{
  display: none;
}

.project-card, .experience-card {
    transition: box-shadow 0.3s ease-in-out;
    border: 1px solid #c9c8c8;
    background-color: #ececec !important;
    padding: 1.5rem;
    border-radius: 1rem; /* Match Bootstrap's card rounding */
    margin-top: 0.5rem;

    h2 {
      font-weight: 500;
    }
}


.dark{
  .project-card, .experience-card {
    background-color: #181825 !important;
  }
}


.project-card-header, .experience-card-header {
  flex-shrink: 0;
}

.project-card-text {
  height: 200px; 
  overflow-y: scroll;

  @media screen and (max-width: 768px) {
    max-height: fit-content;
  }
}

.experience-card-text {
  height: auto;
  overflow-y: auto;
}

.project-card-text ul, .experience-card-text ul {
    padding-left: 1.9rem; /* Add padding to the left of the list */
}

.project-card-footer, .experience-card-footer {
    padding-top: 1rem;
    gap: 0.5rem;
    align-items: center;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}

/* GitHub stats card styling */
.github-stats-card {
    width: 100%;
    border-radius: 0.375rem; /* Match Bootstrap's card rounding */
    border: 1px solid #dee2e6;
}

.repostats {
    display: flex;
    justify-content: left;
    margin-bottom: 2rem;

    @media screen and (max-width: 768px) {
        display: flex;
        justify-content: center;
    }

    a{
      width: 100%;
    }
}

.projectgit {
    width: 100% !important;
}

.badge-paper-tag{
    background-color: #2E3440;
    color: white;
}

.bibentry-print{
  background-color: #ebebeb;
  width: 85%;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

.workspan{
  padding: 2px 4px;
  font-size: 90%;
  color: #fff;
  background-color: #333;
  border-radius: 3px;
  display: inline; 
  word-wrap: break-word;
}



.dark{
    .badge-paper-tag{
        background-color: #a6adc8;
        color: #2E3440;
    }
  .bibentry-print{
    background-color: #3b3b46;
    color: white;
  }
    .vr{
        background-color: #ccc;
    }
}

