
.navbar-fixed-top {
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;
}

.navbar-fixed-top .navbar-brand {
font-size: 2rem;
color: #000000;
font-weight: 600;
text-transform: lowercase;
}

.navbar-center {
    float:none;
    display:inline-block;
    vertical-align: top;
    padding-left: 0;
    padding-right: 0;
}

.navbar-brand:hover{
    color: #b4b4b4 ;
    font-size: 2rem !important;
}

.navbar {
text-transform: capitalize;
font-weight: 400;
font-size: 1rem;
background: #36363615 ;
height:6%;
}

.navbar a:hover {
outline: 0;
font-size: 1.5rem;
}

.navbar .navbar-nav {
letter-spacing: 0px;
font-size: 1.7rem;
}

.navbar .navbar-nav li a{
    outline: 3;
    color: #000000 ;
}


.navbar .navbar-nav li a:focus {
    outline: 0;
    color: #000000 ;
    .dark{
        color: #ffffff ;
    }
    border-color: #e6e6e6 ; 
}

.nav-link.active,
.nav-item.show .nav-link {
    border-color:  #e6e6e6;
    color: #e6e6e6;
}

.navbar-inverse {
border: 0;
}

.nav-link :focus {
    color: #e6e6e6;
}

@media (max-width: 768px) {
    .navbar .show{
        background: rgb(0, 0, 0) ;
    }
}