
.navbar-fixed-top {
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;
}

.navbar-fixed-top .navbar-brand {
font-size: 2em;
color: #e6e6e6;
}
.navbar-brand:hover{
    color: #e6e6e6 !important;
    background-color: transparent !important;
}

.navbar {
text-transform: uppercase;
font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
font-weight: 500;
font-size: 1rem;
background: #0000008a !important;
}

.navbar a:focus {
outline: 0;
color: #e6e6e6;
font-size: 1.5rem;
}

.navbar .navbar-nav {
letter-spacing: 0px;
font-size: 1.5rem;
}

.navbar .navbar-nav li a{
    outline: 3;
    color: #e6e6e6;
    }


.navbar .navbar-nav li a:focus {
    outline: 0;
    color: #e6e6e6;
    border-color: #e6e6e6;
}

.nav-link.active,
.nav-item.show .nav-link {
    border-color:  #e6e6e6;
    color: #e6e6e6;
}

.navbar-default{
    background-color: rgb(0, 51, 98);
    color: #e6e6e6;
}
.navbar-inverse {
border: 0;
}

.nav-link :focus {
    color: #e6e6e6;
}


@media (prefers-color-scheme: dark) {
    html {
      content: "dark";
    }
}
