$navbar-color: #2E3440;

:root {
    --cursor-color: #ffffff;

    .dark {
        --cursor-color: #ffffff;
    }
}

.navbar-fixed-top {
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;
}

.navbar-fixed-top .navbar-brand {
    font-size: 2rem;
    color: #ffffff;
    font-weight: 600;
    text-transform: lowercase;
}

.navbar-center {
    float: none;
    display: inline-block;
    vertical-align: top;
    padding-left: 0;
    padding-right: 0;
}

.navbar-brand:hover {
    color: #48ca85 !important;
    font-size: 2rem !important;
}

.navbar {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1rem;
    background: $navbar-color;

    @media screen and (min-width: 768px) {
        height: 6rem;
    }
}

.navbar a:hover {
    outline: 0;
    font-size: 1.5rem;
    color: #48ca85 !important;
}

.navbar .navbar-nav {
    letter-spacing: 0px;
    font-size: 1.7rem;
}

.navbar .navbar-nav li a {
    outline: 3;
    color: #ffffff;
}

.collapse-button {
    height: 4rem;
    font-size: 2.5rem;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
    color: #ffffff;

    .dark {
        color: #ffffff;
    }

    border-color: #e6e6e6;
}

.nav-link.active,
.nav-item.show .nav-link {
    border-color: #e6e6e6;
    color: #e6e6e6;
}

.navbar-inverse {
    border: 0;
}

.nav-link :focus {
    color: #e6e6e6;
}

$icon-size : 3.2rem;

.dark-mode {
    background-color: #E0E1DD;
    color: $navbar-color;
    border-radius: 4rem;
    display: inline-block;
    vertical-align: middle;
    font-size: 2rem;
    margin-top: 1rem;
    margin-left: -0.5rem;
    height: $icon-size;
    width: $icon-size;
    padding: 0px;

    a {
        color: white;
    }
}

button:focus {
    background-color: #E0E1DD;
    color: $navbar-color;
}

button:hover {
    background-color: #48ca85 !important;
    color: $navbar-color;
}

.blinking {
    width: 0.5rem;
    height: 1.7rem;
    display: inline-block;
    background-color: var(--cursor-color);
    -webkit-animation: blinking 2s infinite;
    animation: blinking 2s infinite;
}

@keyframes blinking {
    0% {
        background-color: transparent;
    }

    49% {
        background-color: transparent;
    }

    50% {
        background-color: var(--cursor-color);
    }
}