/* Basic CSS for the filters and list */
.filters {
    margin-bottom: 0px;
    margin-top: 20px;
    display: flex;
    gap: 15px; /* Adds space between dropdowns */
    font-size: 2rem;

    @media screen and (max-width: 768px) {
          justify-content: center;
    }
}

.filter-group {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 5px; /* Space between label and select */

    label {
        margin-right: 5px; /* Space between label and select */
        font-weight: bold;
        font-size: 1.5rem;
    }

    select {
      padding: 5px;
      margin-top: 1rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 1.3rem;

      @media screen and (max-width: 768px) {
        align-items: center !important;
      }
    }
}


.filters.dark{
  background-color: #3b3b46;
}


.biblography-container li {
  display: contents;
}

.biblography-container .bibtitle::before {
  content: "[" counters(item, ".") "]. ";
  counter-increment: item;
}

.biblography-container {
  counter-reset: item;
}

h2.bibliography{
    margin-top: 1.5rem;
    margin-bottom: -2rem;
    font-size: 2.2rem;
    font-weight: 500;
    text-decoration: underline;
}

.bibtitle::before{
    display: none;
    margin-left: -1em;  
}

