@import "base";
@import "button";
@import "type";
@import "nav";
@import "dark";
@import "icons";
@import "tabs";
@import "timeline";
@import "footer";
@import "modal";
@import "publications";
@import "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css";

$cert-padding: 0.2rem;
$badge-background: #2E3440;

.gitstats {
    @media screen and (max-width: 768px) {
        display: flex;
        justify-content: center;
        margin-left: 1rem
    }
}

.repostats {
    display: flex;
    justify-content: left;
    margin-bottom: 2rem;

    @media screen and (max-width: 768px) {
        display: flex;
        justify-content: center;
    }
}

.header-right p {
    margin-bottom: 3px;
}

.header-left a {
    color: inherit;
    font-weight: 400;
}

.img-container {
    background: white;
    border-radius: 1.3rem;
    width: 10rem;
    padding-right: 0.5rem;
    vertical-align: middle;
    height: 7rem;
    margin-top: 2rem;
    white-space: nowrap;

    @media screen and (max-width: 768px) {
        text-align: center !important;
        margin-top: -1rem;
        margin-bottom: 2rem;
        margin-left: auto;
        margin-right: auto;
    }
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.top {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #000000;
    background-image: url("images/fab.png");
    -webkit-box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.45);
    color: white;
}

.header-contianer div {
    @media screen and (max-width: 768px) {
        text-align: center !important;
    }
}

@media screen and (max-width: 768px) {
    .header-right p {
        text-align: center;
    }

    .header-left {
        margin-top: 0px;
        text-align: center;
        margin-bottom: 02rem;
    }
}

.profile-img {
    width: 24rem;
    height: 24rem;
    margin: 0 auto;
    margin-bottom: 10px;
    display: block;
    border-radius: 150px;
    background-size: cover;
    background-position: center;
    background-repeat: repeat, no-repeat;
}

.landing-div {
    height: 100%;
    padding-top: 10rem;
    overflow-y: hidden;
    box-sizing: border-box;

    .icons {
        text-align: center;
    }

    .icons i {
        font-size: 5rem;
        line-height: 10rem;
        color: rgb(255, 255, 255);
    }

    ul.icons a {
        display: inline-block;
        width: 10rem;
        height: 10rem;
    }

    .icon-text {
        text-align: center;
        font-weight: 600;
        font-size: 1.6rem;
        margin-top: 0.5rem;
    }

    .icons-pad {
        padding-top: 5rem;

        p {
            text-align: center;
            font-weight: 500;
            font-size: 2.2em;
            margin-bottom: 1rem;
        }
    }

    @media screen and (max-width: 992px) {
        margin-top: 7rem;

        ul.icons a {
            display: inline-block;
            width: 7rem;
            height: 7rem;
        }

        .icons i {
            font-size: 3.5rem;
            line-height: 7rem;
        }
    }

    @media screen and (max-width: 768px) {
        margin-top: 1rem;
    }
}

.landing {
    span {
        width: 40rem;
        height: 40rem;
        margin: 0 auto;
        margin-bottom: 10px;
        display: block;
        border-radius: 20rem;
        background-size: cover;
        background-position: center;
        background-repeat: repeat, no-repeat;
    }

    h1 {
        font-size: 7rem;
        font-weight: 700;
        border-radius: 2rem;
    }

    h2 {
        font-size: 3rem;
        font-weight: 400;
    }

    @media screen and (max-width: 992px) {
        span {
            width: 30rem;
            height: 30rem;
            border-radius: 15rem;
        }
    }
}

.into-text-1 {
    margin-top: 30px;
}

@media only screen and (max-width: 992px) {
    .into-text-1 {
        margin-top: 20px;
    }
}

.projects-container,
.experience-container,
.education-container,
.certificate-container,
.intro-container {
    padding-top: 1.5rem;
    padding-left: 3rem;
    padding-right: 3rem;

    h3 {
        margin-bottom: 0;
    }

    @media screen and (max-width: 768px) {
        width: 95%;
        padding-left: 2rem;
        padding-right: 2.5rem;
    }
}

#resume-row {
    @media screen and (max-width: 768px) {
        margin-top: 4rem;
    }
}

.intro {
    @media screen and (max-width: 768px) {
        margin-top: 2rem;
    }
}

.layout {
    margin-top: 3rem;

    .inlines-right {
        text-align: right !important;

        h4 {
            text-align: right !important;
        }
    }

    .inlines {
        text-align: left;

        mark {
            font-size: 1.8rem;
            border-radius: 2rem;
        }

        h2 {
            display: inline;
            font-size: 2rem;
        }

        p {
            margin-bottom: 3px;
            font-size: 1.6rem;
            text-align: inherit;
            font-weight: 300;

            b {
                font-weight: 500;
            }
        }

        @media screen and (max-width: 768px) {
            text-align: center !important;

            p {
                text-align: center !important;
            }
        }

        a {
            color: inherit;
            font-style: italic;
            font-weight: 300;
        }

        .fa {
            font-size: 2rem;
        }

        .link {
            font-size: 1.5rem;
        }

        h4 {
            margin-bottom: 0.1rem;
            font-weight: 500;
            display: inline;

            @media print {
                margin-bottom: 0.2rem;
            }

            a {
                font-weight: 500 !important;
            }
        }
    }

    .details {
        text-align: left;

        p {
            margin-bottom: 3px;
            font-size: 1.6rem;
            text-align: inherit;
            font-weight: 300;

            b {
                font-weight: 500;
            }
        }

        @media screen and (max-width: 768px) {
            text-align: center !important;

            p {
                text-align: center !important;
            }
        }

        a {
            color: inherit;
            font-style: italic;
            font-weight: 300;
        }

        .fa {
            font-size: 2rem;
        }

        .link {
            font-size: 1.5rem;
        }

        h4 {
            margin-bottom: 0.1rem;
            font-weight: 500;

            @media print {
                margin-bottom: 0.2rem;
            }

            a {
                font-weight: 500;
            }
        }
    }
}

.layout-right,
.layout-top-right {
    .details {
        text-align: right;
    }
}

.layout-right {
    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column-reverse;
    }
}

.layout-top-right {
    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
    }
}

.layout-top-middle {
    .details {
        text-align: center;
    }
}

.page-content {
    padding: 0;
}

.contact a {
    line-height: 50px;
    margin-left: 30px;
    color: #BBBBBB;
    -webkit-transition: color 0.4s ease;
    -moz-transition: color 0.4s ease;
    transition: color 0.4s ease;
}

.contact a:hover {
    color: #4C4C4C;
}

p.quote {
    font-size: 1.4rem;
    font-style: italic;
    padding: 1rem 2.5rem;
    text-align: center;

    @media print {
        text-align: left;
        padding: 0rem 1rem;
        margin-top: 1rem;
    }
}

p.mid {
    text-align: center;
    margin-top: 1rem;
    vertical-align: middle;
}

.badge-date {
    background: #579463;
    border-radius: 0.9rem;
    padding: 0.6rem;
    font-size: 1.5rem;
    vertical-align: middle;
    margin-top: 1rem;
    font-weight: 600;

    @media screen and (max-width: 768px) {
        margin-bottom: 1rem;
        margin-top: 0rem;
    }
}

.badge-certificate {
    background: $badge-background;
    border-radius: 2rem;
    padding: 0.9rem;
    font-size: 1.3rem;
}

.badge-message {
    background: $badge-background;
    border-radius: 2rem;
    padding: 0.9rem;
    font-size: 1.3rem;
    width: 2.8rem !important;
    height: 2.8rem !important;
    padding: 0px;
    padding-left: 0.2rem !important;
    padding-top: 0.7rem !important;
    display: inline-block !important;
}


.certification {
    background: $badge-background;
    display: inline-block;
    color: #ffffff;
    font-size: 1.5rem;
    padding-top: $cert-padding;
    padding-bottom: $cert-padding;
    padding-right: 0.7rem;
    padding-left: 1rem;
    margin-left: -1.2rem;
    border-end-end-radius: 2rem;
    border-start-end-radius: 2rem;
}

$deg-padding-vert: 0.3rem;
$deg-padding-hori: 0.5rem;

.badge-degree {
    font-size: 1.4rem;
    background: $badge-background;
    color: #ffffff;
    font-weight: 600;
    padding-left: $deg-padding-hori;
    padding-right: $deg-padding-hori;
    padding-top: $deg-padding-vert;
    padding-bottom: $deg-padding-vert;
    border-radius: 0.6rem;
}

.badge-header {
    background: $badge-background;
    border-radius: 2rem;
    padding: 0.9rem;
    padding-top: 1.1rem;
    margin-bottom: 0.5rem;
    font-size: 2rem;
}