---
---
{% assign venue = entry.archiveprefix %}
{% unless venue %}
  {% assign venue = entry.customvenue %}
{% endunless %} 
{% unless venue %}
  {% assign venue = entry.series %}
{% endunless %} 
{% unless venue %}
  {% assign venue = entry.booktitle %}
{% endunless %}
{% unless venue %}
  {% assign venue = entry.publisher %}
{% endunless %}

<div class="publication-item" data-paper-year="{{ entry.year }}" data-paper-tag="{{ entry.tag | default: 'misc' }}" data-paper-venue="{{ venue }}" data-paper-title="{{ entry.title }}">
  <div class="row clearfix layout layout-left">
    <div class="col-xs-12 col-sm-9 col-md-10 col-print-12 inlines borderless">
      <h4 class="bibtitle">{{ entry.title }}</h4>
      <div class="paper-details">
        {% if venue contains entry.year %}
          <b>{{ venue | truncate: 100 }}</b>
        {% else %}
          <b>{{ venue }}, {{ entry.year }}</b>
        {% endif %}
        {% if entry.preprint == "true" %}
          <span class="badge badge-danger">Pre-Print</span>
        {% endif %}
        <br>
        {% for author in entry.author_array %}
          {{ author.first }} {{ author.last }}
          {% unless forloop.last %}, {% endunless %}
        {% endfor %}
      </div>
      <p>
        {% assign tags = entry.tag | split: ", " %}
        {% for tag in tags %}
        <span class="badge badge-paper-tag">{{ tag }}</span>
        {% endfor %}
      </p>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-2 col-print-12 borderless inlines inlines-right">
      <p>
        {%- if entry.pdfurl -%}
        <a href="{{ entry.pdfurl }}" style="color: white;" class="ref-button icon-button" title="Website" target="_blank" rel="noopener noreferrer">
          <i class="fa-solid fa-file-pdf"></i>
        </a>
        {%- endif -%}
        {%- if entry.weblink -%}
        <a href="{{ entry.weblink }}" style="color: white;" class="ref-button icon-button" title="Website" target="_blank" rel="noopener noreferrer">
          <i class="fa-solid fa-link"></i>
        </a>
        {%- endif -%}
        <button class="ref-button icon-button" type="button" data-toggle="collapse" data-target="#{{ entry.key }}"
          aria-expanded="false" aria-controls="collapseExample" title="BibTex">
          <i class="fa-solid fa-quote-left"></i>
        </button>
      </p>
    </div>
  </div>
  <div class="collapse" id="{{ entry.key }}" aria-labelledby="heading{{ forloop.index }}">
    <pre class="bibentry-print">{{ entry.bibtex }}</pre>
  </div>
</div>
<center>
  <hr width="100%">
</center>
